@model IEnumerable<Product>

<div class="content">
    @foreach (Product item in Model)
    {
        <div class="item">@item.ProductID @Html.ActionLink(item.Name, "Edit", new { item.ProductID }) @item.Category @item.Price</div>
    }   
</div>

