@model MvcApp1.ViewModels.ListViewModel

@{    
    ViewBag.Title = "Products";
}

@Html.Partial("ListProducts", Model.Products)

<br />
<div id="total">Total value is $@Model.TotalPrice</div>

@section Footer { 
    <p>Section footer's sample.</p> 

    <div>
        @Html.ActionLink("Link to Edit", "Edit", new { ProductID = 1})
    </div>
}


